In [2]:
%cd ../scripts 
from address import addressToCords
import pandas as pd

/mnt/c/Users/ohanr/OneDrive/Unimelb/3rd Year/MAST30034/generic-real-estate-consulting-project-group-25/scripts

## Getting Coordinates for listing

In [ ]:
listing = pd.read_csv("../data/curated/cleaned_property_listing_data.csv")
listing["Coordinates"] = None
listing["Latitude"] = None
listing["Longitude"] = None

In [ ]:
#Dividing the dataframe into chunks to prevent loss of progress if the Nominatium (API) server goes down
n = 100
start = 0
end = 100
while end < len(listing):
    print(start)
    try: 
        listing["Coordinates"].iloc[start: end] = listing["address"].iloc[start:end].apply(lambda x: addressToCords(x))
        listing["Latitude"].iloc[start:end] = listing["Coordinates"].iloc[start:end].apply(lambda x: x[0])
        listing["Longitude"].iloc[start:end] = listing["Coordinates"].iloc[start:end].apply(lambda x: x[1])
        listing.to_csv("../data/curated/listings_w_cords.csv", index = False)
    except:
        break
    start = end 
    end += n

## Getting Coordinates for Universities

In [3]:
universities = pd.read_csv("../data/raw/List of Universities.csv")

     Campus                       University  Suburb or town           Name
0  Satellite  Australian Catholic University       Melbourne  ACU Melbourne
1  Satellite  Australian Catholic University        Ballarat            NaN
2  Satellite       Charles Darwin University       Melbourne  CDU Melbourne
3  Satellite        Charles Sturt University  Albury-Wodonga            NaN
4  Satellite                    CQUniversity       Melbourne  CQU Melbourne

In [4]:
# Using the api to search for the coordinates of the University
universities.loc[universities['Name'].isnull(), 'Name'] = ""
universities["Coordinates"] = (universities["University"] + " " + universities["Suburb or town"] + " " + universities["Name"]).apply(lambda x: addressToCords(x))
universities["Latitude"] = universities["Coordinates"].apply(lambda x: x[0])
universities["Longitude"] = universities["Coordinates"].apply(lambda x: x[1])

In [7]:
universities[["University", "Suburb or town", "Name", "Latitude", "Longitude"]].to_csv("../data/curated/universities.csv", index=False)