In [13]:
import pandas as pd
import seaborn as sns
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [7]:
bed_1_flat = pd.read_csv('../data/raw/Rental_Price_historical/1_bed_flat.csv')
bed_1_flat.rename(columns = {'Unnamed: 1': 'suburb'}, inplace = True)
bed_1_flat

,Unnamed: 0,suburb,Mar-00,Unnamed: 3,Jun-00,Unnamed: 5,Sep-00,Unnamed: 7,Dec-00,Unnamed: 9,...,Mar-20,Unnamed: 163,Jun-20,Unnamed: 165,Sep-20,Unnamed: 167,Dec-20,Unnamed: 169,Mar-21,Unnamed: 171
0,NaN,NaN,Count,Median,Count,Median,Count,Median,Count,Median,...,Count,Median,Count,Median,Count,Median,Count,Median,Count,Median
1,Inner Melbourne,Albert Park-Middle Park-West St Kilda,352,$165,346,$165,376,$170,367,$175,...,230,$370,228,$355,231,$350,243,$350,263,$340
2,NaN,Armadale,210,$150,210,$150,211,$155,211,$160,...,205,$375,208,$368,170,$350,184,$350,206,$350
3,NaN,Carlton North,86,$150,77,$155,74,$150,65,$150,...,70,$363,67,$360,72,$350,64,$350,68,$338
4,NaN,Carlton-Parkville,297,$170,297,$170,310,$175,343,$180,...,"3,354",$360,"3,239",$356,"2,919",$350,"2,829",$340,"2,097",$300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,NaN,Wanagaratta,51,$85,45,$85,43,$85,46,$85,...,69,$195,67,$195,61,$190,56,$195,52,$195
156,NaN,Warragul,13,$80,11,$75,12,$90,10,$90,...,-,-,-,-,-,-,-,-,-,-
157,NaN,Warrnambool,113,$75,103,$75,107,$75,103,$80,...,61,$200,65,$220,63,$220,63,$230,55,$250
158,NaN,Wodonga,76,$85,72,$85,77,$85,83,$85,...,46,$180,57,$185,56,$185,56,$185,59,$200
159,NaN,Group Total,"1,132",$80,"1,121",$80,"1,143",$80,"1,137",$80,...,961,$180,977,$185,913,$190,847,$195,807,$200

In [26]:
agg_by_sub = pd.read_csv('../data/curated/2022_aggregated/agg_bed_avgPrice_sub.csv')
agg_by_sub

,Unnamed: 0,beds,avg_price,count,propertyType,suburb,median
0,0,1,500.0,1,Acreage / Semi-Rural,Oaklands Junction,500.0
1,1,1,401.0,15,Apartment / Unit / Flat,Abbotsford,410.0
2,2,1,290.0,1,Apartment / Unit / Flat,Airport West,290.0
3,3,1,417.5,2,Apartment / Unit / Flat,Albert Park,417.5
4,4,1,320.0,2,Apartment / Unit / Flat,Alphington,320.0
...,...,...,...,...,...,...,...
2930,2930,7,1250.0,1,House,Brunswick,1250.0
2931,2931,7,170.0,1,House,Dandenong,170.0
2932,2932,8,1950.0,1,House,Balaclava,1950.0
2933,2933,8,1300.0,1,House,Mordialloc,1300.0
2934,2934,9,850.0,1,House,Footscray,850.0

In [27]:
agg_flat = agg_by_sub[agg_by_sub['propertyType'] == 'Apartment / Unit / Flat']
agg_flat

,Unnamed: 0,beds,avg_price,count,propertyType,suburb,median
1,1,1,401.0,15,Apartment / Unit / Flat,Abbotsford,410.0
2,2,1,290.0,1,Apartment / Unit / Flat,Airport West,290.0
3,3,1,417.5,2,Apartment / Unit / Flat,Albert Park,417.5
4,4,1,320.0,2,Apartment / Unit / Flat,Alphington,320.0
5,5,1,390.0,2,Apartment / Unit / Flat,Altona,390.0
...,...,...,...,...,...,...,...
2193,2193,4,1975.0,1,Apartment / Unit / Flat,St Kilda,1975.0
2194,2194,4,490.0,1,Apartment / Unit / Flat,Wantirna South,490.0
2753,2753,5,595.0,1,Apartment / Unit / Flat,Clayton,595.0
2754,2754,5,750.0,1,Apartment / Unit / Flat,Montmorency,750.0
2898,2898,6,180.0,1,Apartment / Unit / Flat,Clayton,180.0

#### Checking to see how many matching suburb we have for scraped data from domain and historical data

In [28]:
query = 'SELECT * FROM bed_1_flat INNER JOIN agg_flat on bed_1_flat.suburb = agg_flat.suburb AND agg_flat.beds = 1'
joined = pysqldf(query)

In [29]:
joined

,Unnamed: 0,suburb,Mar-00,Unnamed: 3,Jun-00,Unnamed: 5,Sep-00,Unnamed: 7,Dec-00,Unnamed: 9,...,Unnamed: 169,Mar-21,Unnamed: 171,Unnamed: 0,beds,avg_price,count,propertyType,suburb,median
0,Outer Western Melbourne,Altona,87,$95,93,$100,96,$105,97,$105,...,$290,86,$280,5,1,390.000000,2,Apartment / Unit / Flat,Altona,390.0
1,None,Armadale,210,$150,210,$150,211,$155,211,$160,...,$350,206,$350,6,1,447.500000,4,Apartment / Unit / Flat,Armadale,455.0
2,Inner Eastern Melbourne,Balwyn,12,$145,12,$150,16,$150,17,$140,...,$360,71,$350,10,1,470.000000,1,Apartment / Unit / Flat,Balwyn,470.0
3,Bendigo,Bendigo,84,$85,79,$85,85,$90,84,$90,...,$235,35,$230,13,1,250.000000,3,Apartment / Unit / Flat,Bendigo,280.0
4,None,Bentleigh,154,$125,163,$128,151,$130,146,$130,...,$320,201,$300,14,1,377.500000,2,Apartment / Unit / Flat,Bentleigh,377.5
5,None,Blackburn,53,$120,49,$125,53,$125,57,$130,...,$350,142,$344,16,1,358.750000,4,Apartment / Unit / Flat,Blackburn,360.0
6,None,Boronia,13,$100,11,$115,16,$115,18,$115,...,$328,36,$330,18,1,250.000000,1,Apartment / Unit / Flat,Boronia,250.0
7,None,Box Hill,74,$126,85,$130,87,$135,92,$135,...,$295,559,$320,19,1,295.000000,14,Apartment / Unit / Flat,Box Hill,260.0
8,None,Brighton,29,$185,36,$163,43,$160,40,$163,...,$400,65,$390,22,1,407.500000,4,Apartment / Unit / Flat,Brighton,415.0
9,None,Brunswick,407,$120,462,$120,479,$120,477,$120,...,$350,489,$340,25,1,383.611111,18,Apartment / Unit / Flat,Brunswick,380.0
10,None,Carlton North,86,$150,77,$155,74,$150,65,$150,...,$350,68,$338,35,1,366.666667,6,Apartment / Unit / Flat,Carlton North,370.0
11,None,Carnegie,348,$125,363,$125,383,$126,373,$130,...,$305,356,$300,36,1,325.692308,13,Apartment / Unit / Flat,Carnegie,320.0
12,None,Castlemaine,-,-,-,-,-,-,-,-,...,-,-,-,37,1,290.000000,1,Apartment / Unit / Flat,Castlemaine,290.0
13,None,Cheltenham,48,$123,47,$130,51,$130,55,$125,...,$345,113,$350,42,1,357.500000,2,Apartment / Unit / Flat,Cheltenham,357.5
14,None,Clayton,45,$165,42,$170,48,$175,51,$175,...,$310,439,$300,43,1,313.333333,6,Apartment / Unit / Flat,Clayton,280.0
15,None,Dandenong,78,$100,78,$100,79,$105,73,$105,...,$270,204,$270,48,1,280.000000,3,Apartment / Unit / Flat,Dandenong,275.0
16,None,Docklands,-,-,-,-,-,-,-,-,...,$380,"1,354",$350,50,1,448.157895,38,Apartment / Unit / Flat,Docklands,450.0
17,None,East Melbourne,199,$180,201,$180,206,$188,222,$185,...,$390,250,$375,56,1,591.500000,10,Apartment / Unit / Flat,East Melbourne,487.5
18,None,Echuca,40,$90,40,$90,39,$90,42,$90,...,$170,21,$170,57,1,803.500000,2,Apartment / Unit / Flat,Echuca,803.5
19,None,Elsternwick,184,$135,186,$135,177,$140,190,$140,...,$340,276,$333,59,1,408.125000,8,Apartment / Unit / Flat,Elsternwick,420.0
20,None,Elwood,585,$150,566,$155,561,$160,576,$160,...,$340,450,$330,61,1,360.555556,18,Apartment / Unit / Flat,Elwood,345.0
21,None,Essendon,286,$120,276,$120,279,$120,278,$125,...,$325,361,$320,63,1,331.842105,19,Apartment / Unit / Flat,Essendon,330.0
22,None,Fitzroy,179,$140,186,$140,180,$150,176,$150,...,$390,289,$380,68,1,420.000000,9,Apartment / Unit / Flat,Fitzroy,430.0
23,None,Footscray,168,$95,155,$95,143,$95,140,$95,...,$287,526,$285,71,1,340.741935,31,Apartment / Unit / Flat,Footscray,350.0
24,None,Frankston,141,$95,157,$100,160,$100,156,$100,...,$240,312,$245,72,1,319.000000,5,Apartment / Unit / Flat,Frankston,340.0
25,None,Hamilton,36,$68,39,$70,36,$70,44,$70,...,$160,18,$165,82,1,210.000000,1,Apartment / Unit / Flat,Hamilton,210.0
26,None,Hawthorn,474,$145,504,$145,499,$150,475,$150,...,$321,765,$315,87,1,373.281250,32,Apartment / Unit / Flat,Hawthorn,362.5
27,None,Kew,72,$165,65,$170,70,$168,62,$160,...,$375,85,$350,96,1,345.714286,7,Apartment / Unit / Flat,Kew,360.0
28,None,Malvern,96,$145,100,$145,95,$145,91,$150,...,$345,105,$338,103,1,320.000000,2,Apartment / Unit / Flat,Malvern,320.0
29,None,Malvern East,84,$135,84,$135,86,$135,85,$140,...,$308,328,$315,104,1,591.666667,12,Apartment / Unit / Flat,Malvern East,355.0
30,None,Morwell,76,$65,66,$65,62,$65,60,$70,...,$160,27,$170,117,1,206.666667,3,Apartment / Unit / Flat,Morwell,230.0
31,None,Mount Waverley,13,$120,10,$123,10,$125,-,-,...,$355,13,$350,119,1,365.000000,2,Apartment / Unit / Flat,Mount Waverley,365.0
32,None,Newtown,76,$85,74,$85,76,$85,74,$85,...,$230,38,$235,123,1,230.000000,1,Apartment / Unit / Flat,Newtown,230.0
33,None,Noble Park,196,$100,204,$100,202,$100,192,$100,...,$245,171,$250,125,1,257.500000,8,Apartment / Unit / Flat,Noble Park,250.0
34,None,North Geelong,108,$80,97,$80,87,$80,105,$80,...,$225,50,$228,126,1,270.000000,1,Apartment / Unit / Flat,North Geelong,270.0
35,None,Northcote,208,$115,207,$115,209,$115,194,$115,...,$330,349,$325,128,1,340.909091,11,Apartment / Unit / Flat,Northcote,340.0
36,None,Port Melbourne,47,$280,46,$280,64,$280,105,$275,...,$440,341,$415,142,1,426.363636,11,Apartment / Unit / Flat,Port Melbourne,425.0
37,None,Portland,26,$75,28,$75,34,$75,31,$80,...,$170,15,$220,143,1,220.000000,1,Apartment / Unit / Flat,Portland,220.0
38,None,Preston,162,$100,153,$105,162,$105,155,$108,...,$340,259,$320,145,1,306.785714,14,Apartment / Unit / Flat,Preston,305.0
39,None,Reservoir,104,$110,100,$113,92,$113,84,$115,...,$310,153,$310,149,1,325.000000,3,Apartment / Unit / Flat,Reservoir,340.0
40,None,Ringwood,44,$113,48,$117,42,$115,37,$120,...,$343,64,$350,151,1,375.000000,1,Apartment / Unit / Flat,Ringwood,375.0
41,None,Shepparton,149,$85,142,$85,153,$85,157,$85,...,$200,84,$200,159,1,245.000000,1,Apartment / Unit / Flat,Shepparton,245.0
42,None,South Melbourne,72,$170,79,$175,101,$190,123,$225,...,$380,398,$350,162,1,469.285714,14,Apartment / Unit / Flat,South Melbourne,450.0
43,None,South Yarra,966,$170,979,$175,999,$175,"1,016",$180,...,$360,"1,879",$350,163,1,402.338710,62,Apartment / Unit / Flat,South Yarra,400.0
44,None,Southbank,81,$285,104,$270,109,$265,117,$260,...,$360,"2,236",$350,164,1,484.431818,44,Apartment / Unit / Flat,Southbank,430.0
45,None,Springvale,121,$100,128,$100,131,$100,115,$100,...,$270,133,$273,166,1,265.000000,10,Apartment / Unit / Flat,Springvale,265.0
46,None,St Kilda,"1,306",$160,"1,343",$160,"1,326",$165,"1,352",$168,...,$350,"1,456",$330,168,1,406.111111,54,Apartment / Unit / Flat,St Kilda,380.0
47,None,Sunbury,14,$105,14,$105,14,$105,15,$105,...,$250,13,$250,173,1,220.000000,1,Apartment / Unit / Flat,Sunbury,220.0
48,None,Sunshine,201,$90,193,$90,207,$95,193,$95,...,$250,142,$250,174,1,245.000000,2,Apartment / Unit / Flat,Sunshine,245.0
49,None,Sydenham,-,-,-,-,-,-,-,-,...,-,-,-,177,1,320.000000,1,Apartment / Unit / Flat,Sydenham,320.0
50,None,Thornbury,378,$105,370,$110,369,$110,374,$115,...,$305,302,$300,179,1,306.000000,15,Apartment / Unit / Flat,Thornbury,310.0
51,None,Toorak,284,$170,279,$170,298,$172,287,$175,...,$325,158,$320,180,1,353.000000,10,Apartment / Unit / Flat,Toorak,350.0
52,None,Traralgon,108,$75,115,$75,111,$75,108,$75,...,$200,75,$200,181,1,255.000000,5,Apartment / Unit / Flat,Traralgon,250.0
53,None,Warrnambool,113,$75,103,$75,107,$75,103,$80,...,$230,55,$250,186,1,235.000000,2,Apartment / Unit / Flat,Warrnambool,235.0
54,None,West Footscray,177,$95,178,$95,181,$95,163,$95,...,$275,140,$270,189,1,275.000000,2,Apartment / Unit / Flat,West Footscray,275.0
55,None,Williamstown,51,$120,49,$120,54,$125,53,$130,...,$340,64,$354,192,1,306.000000,5,Apartment / Unit / Flat,Williamstown,315.0
56,None,Wodonga,76,$85,72,$85,77,$85,83,$85,...,$185,59,$200,194,1,235.000000,2,Apartment / Unit / Flat,Wodonga,235.0