In [73]:
import pandas as pd
import seaborn as sns
import itertools

In [74]:
df_1bed_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_1_bed_flat_monetary.csv')
bed_2_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_2_flat_monetary.csv')
bed_2_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_2_house_monetary.csv')
bed_3_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_3_flat_monetary.csv')
bed_3_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_3_house_monetary.csv')
bed_4_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_4_house_monetary.csv')

In [75]:
df_1bed_flat.columns[0:88]

Index(['Count_Mar2000', 'Median_Mar2000', 'Count_Jun2000', 'Median_Jun2000',
       'Count_Sep2000', 'Median_Sep2000', 'Count_Dec2000', 'Median_Dec2000',
       'Count_Mar2001', 'Median_Mar2001', 'Count_Jun2001', 'Median_Jun2001',
       'Count_Sep2001', 'Median_Sep2001', 'Count_Dec2001', 'Median_Dec2001',
       'Count_Mar2002', 'Median_Mar2002', 'Count_Jun2002', 'Median_Jun2002',
       'Count_Sep2002', 'Median_Sep2002', 'Count_Dec2003', 'Median_Dec2003',
       'Count_Mar2003', 'Median_Mar2003', 'Count_Jun2003', 'Median_Jun2003',
       'Count_Sep2003', 'Median_Sep2003', 'Count_Dec2003.1',
       'Median_Dec2003.1', 'Count_Mar2004', 'Median_Mar2004', 'Count_Jun2004',
       'Median_Jun2004', 'Count_Sep2004', 'Median_Sep2004', 'Count_Dec2004',
       'Median_Dec2004', 'Count_Mar2005', 'Median_Mar2005', 'Count_Jun2005',
       'Median_Jun2005', 'Count_Sep2005', 'Median_Sep2005', 'Count_Dec2005',
       'Median_Dec2005', 'Count_Mar2006', 'Median_Mar2006', 'Count_Jun2006',
       'Median_Jun2006', 'Count_Sep2006', 'Median_Sep2006', 'Count_Dec2006',
       'Median_Dec2006', 'Count_Mar2007', 'Median_Mar2007', 'Count_Jun2007',
       'Median_Jun2007', 'Count_Sep2007', 'Median_Sep2007', 'Count_Dec2007',
       'Median_Dec2007', 'Count_Mar2008', 'Median_Mar2008', 'Count_Jun2008',
       'Median_Jun2008', 'Count_Sep2008', 'Median_Sep2008', 'Count_Dec2008',
       'Median_Dec2008', 'Count_Mar2009', 'Median_Mar2009', 'Count_Jun2009',
       'Median_Jun2009', 'Count_Sep2009', 'Median_Sep2009', 'Count_Dec2009',
       'Median_Dec2009', 'Count_Mar2010', 'Median_Mar2010', 'Count_Jun2010',
       'Median_Jun2010', 'Count_Sep2010', 'Median_Sep2010', 'Count_Dec2010',
       'Median_Dec2010'],
      dtype='object')

In [76]:
df_1bed_flat.pop('Postcode.1')
bed_2_flat.pop('Postcode.1')
bed_2_house.pop('Postcode.1')
bed_3_flat.pop('Postcode.1')
bed_3_house.pop('Postcode.1')
bed_4_house.pop('Postcode.1')

0      3182
1      3143
2      3053
3      3052
4      3182
       ...
140    3228
141    3844
142    3820
143    3280
144    3690
Name: Postcode.1, Length: 145, dtype: int64

In [77]:
bed_4_house

,Count_Mar2000,Median_Mar2000,Count_Jun2000,Median_Jun2000,Count_Sep2000,Median_Sep2000,Count_Dec2000,Median_Dec2000,Count_Mar2001,Median_Mar2001,...,Average_household_size_2013,Average_household_size_2014,Average_household_size_2015,Average_household_size_2016,Average_household_size_2017,Average_household_size_2018,Average_household_size_2019,Average_household_size_2020,Average_household_size_2021,Suburb
0,19,$500,21,$550,24,$525,22,$513,24,$550,...,1.796667,1.786667,1.776667,1.8,1.756667,1.746667,1.736667,1.726667,1.7,"St Kilda, St Kilda South, St Kilda West"
1,10,$615,11,$695,13,$850,13,$695,15,$760,...,2.096667,2.086667,2.076667,2.1,2.056667,2.046667,2.036667,2.026667,2.0,"Armadale North, Armadale"
2,59,$380,58,$380,56,$383,53,$385,48,$403,...,1.896667,1.886667,1.876667,1.9,1.856667,1.846667,1.836667,1.826667,1.8,"Carlton South, Carlton"
3,25,$450,25,$430,39,$450,42,$425,44,$420,...,2.260000,2.240000,2.220000,2.2,2.180000,2.160000,2.140000,2.120000,2.1,"Melbourne University, Parkville"
4,-,-,-,-,-,-,-,-,-,-,...,1.796667,1.786667,1.776667,1.8,1.756667,1.746667,1.736667,1.726667,1.7,"St Kilda, St Kilda South, St Kilda West"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,36,$198,38,$200,37,$200,32,$215,37,$230,...,2.700000,2.700000,2.700000,2.7,2.700000,2.700000,2.700000,2.700000,2.7,"Torquay, Jan Juc, Bells Beach, Bellbrae"
141,64,$183,58,$180,52,$175,47,$175,48,$170,...,2.463333,2.453333,2.443333,2.4,2.423333,2.413333,2.403333,2.393333,2.4,"Callignee, Willung South, Traralgon South, Car..."
142,38,$178,38,$180,37,$180,35,$185,33,$185,...,2.466667,2.466667,2.466667,2.4,2.466667,2.466667,2.466667,2.466667,2.5,"Warragul, Bona Vista, Lillico"
143,85,$170,87,$180,82,$185,74,$188,76,$200,...,2.396667,2.386667,2.376667,2.4,2.356667,2.346667,2.336667,2.326667,2.3,"Dennington, Warrnambool"
144,112,$210,100,$210,104,$200,99,$205,92,$210,...,2.400000,2.400000,2.400000,2.4,2.400000,2.400000,2.400000,2.400000,2.4,"Wodonga, West Wodonga, Wodonga Plaza"

In [78]:
df_1bed_flat.drop(df_1bed_flat.columns[0:88], axis=1, inplace = True)
bed_2_flat.drop(bed_2_flat.columns[0:88], axis=1, inplace = True)
bed_2_house.drop(bed_2_house.columns[0:88], axis=1, inplace = True)
bed_3_flat.drop(bed_3_flat.columns[0:88], axis=1, inplace = True)
bed_3_house.drop(bed_3_house.columns[0:88], axis=1, inplace = True)
bed_4_house.drop(bed_4_house.columns[0:88], axis=1, inplace = True)

In [80]:
df_1bed_flat.to_csv('../data/curated/Rental_Price_historical/joined_1_bed_flat_monetary_2011-2021.csv', index = False)
bed_2_flat.to_csv('../data/curated/Rental_Price_historical/joined_bed_2_flat_monetary_2011-2021.csv', index=False)
bed_2_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_2_house_monetary_2011-2021.csv', index=False)
bed_3_flat.to_csv('../data/curated/Rental_Price_historical/joined_bed_3_flat_monetary_2011-2021.csv', index=False)
bed_3_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_3_house_monetary_2011-2021.csv', index=False)
bed_4_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_4_house_monetary_2011-2021.csv', index=False)

In [82]:
df_1bed_flat

,Count_Mar2011,Median_Mar2011,Count_Jun2011,Median_Jun2011,Count_Sep2011,Median_Sep2011,Count_Dec2011,Median_Dec2011,Count_Mar2012,Median_Mar2012,...,Average_household_size_2013,Average_household_size_2014,Average_household_size_2015,Average_household_size_2016,Average_household_size_2017,Average_household_size_2018,Average_household_size_2019,Average_household_size_2020,Average_household_size_2021,Suburb
0,298,$315,295,$320,277,$320,292,$325,296,$328,...,1.796667,1.786667,1.776667,1.8,1.756667,1.746667,1.736667,1.726667,1.7,"St Kilda, St Kilda South, St Kilda West"
1,174,$293,178,$298,180,$300,179,$300,178,$308,...,2.096667,2.086667,2.076667,2.1,2.056667,2.046667,2.036667,2.026667,2.0,"Armadale North, Armadale"
2,60,$293,52,$298,51,$300,47,$305,47,$310,...,1.896667,1.886667,1.876667,1.9,1.856667,1.846667,1.836667,1.826667,1.8,"Carlton South, Carlton"
3,"1,963",$311,"1,981",$311,"2,058",$311,"2,113",$313,"2,312",$315,...,2.260000,2.240000,2.220000,2.2,2.180000,2.160000,2.140000,2.120000,2.1,"Melbourne University, Parkville"
4,"3,099",$370,"3,083",$370,"3,033",$375,"3,075",$380,"3,184",$380,...,1.796667,1.786667,1.776667,1.8,1.756667,1.746667,1.736667,1.726667,1.7,"St Kilda, St Kilda South, St Kilda West"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,19,$220,17,$220,17,$220,17,$220,19,$230,...,2.700000,2.700000,2.700000,2.7,2.700000,2.700000,2.700000,2.700000,2.7,"Torquay, Jan Juc, Bells Beach, Bellbrae"
141,79,$130,77,$130,80,$133,74,$135,72,$140,...,2.463333,2.453333,2.443333,2.4,2.423333,2.413333,2.403333,2.393333,2.4,"Callignee, Willung South, Traralgon South, Car..."
142,-,-,-,-,-,-,-,-,-,-,...,2.466667,2.466667,2.466667,2.4,2.466667,2.466667,2.466667,2.466667,2.5,"Warragul, Bona Vista, Lillico"
143,71,$150,73,$150,78,$158,77,$150,76,$150,...,2.396667,2.386667,2.376667,2.4,2.356667,2.346667,2.336667,2.326667,2.3,"Dennington, Warrnambool"
144,62,$150,64,$140,57,$140,58,$140,57,$150,...,2.400000,2.400000,2.400000,2.4,2.400000,2.400000,2.400000,2.400000,2.4,"Wodonga, West Wodonga, Wodonga Plaza"

In [83]:
df_1bed_flat

,Count_Mar2011,Median_Mar2011,Count_Jun2011,Median_Jun2011,Count_Sep2011,Median_Sep2011,Count_Dec2011,Median_Dec2011,Count_Mar2012,Median_Mar2012,...,Average_household_size_2013,Average_household_size_2014,Average_household_size_2015,Average_household_size_2016,Average_household_size_2017,Average_household_size_2018,Average_household_size_2019,Average_household_size_2020,Average_household_size_2021,Suburb
0,298,$315,295,$320,277,$320,292,$325,296,$328,...,1.796667,1.786667,1.776667,1.8,1.756667,1.746667,1.736667,1.726667,1.7,"St Kilda, St Kilda South, St Kilda West"
1,174,$293,178,$298,180,$300,179,$300,178,$308,...,2.096667,2.086667,2.076667,2.1,2.056667,2.046667,2.036667,2.026667,2.0,"Armadale North, Armadale"
2,60,$293,52,$298,51,$300,47,$305,47,$310,...,1.896667,1.886667,1.876667,1.9,1.856667,1.846667,1.836667,1.826667,1.8,"Carlton South, Carlton"
3,"1,963",$311,"1,981",$311,"2,058",$311,"2,113",$313,"2,312",$315,...,2.260000,2.240000,2.220000,2.2,2.180000,2.160000,2.140000,2.120000,2.1,"Melbourne University, Parkville"
4,"3,099",$370,"3,083",$370,"3,033",$375,"3,075",$380,"3,184",$380,...,1.796667,1.786667,1.776667,1.8,1.756667,1.746667,1.736667,1.726667,1.7,"St Kilda, St Kilda South, St Kilda West"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,19,$220,17,$220,17,$220,17,$220,19,$230,...,2.700000,2.700000,2.700000,2.7,2.700000,2.700000,2.700000,2.700000,2.7,"Torquay, Jan Juc, Bells Beach, Bellbrae"
141,79,$130,77,$130,80,$133,74,$135,72,$140,...,2.463333,2.453333,2.443333,2.4,2.423333,2.413333,2.403333,2.393333,2.4,"Callignee, Willung South, Traralgon South, Car..."
142,-,-,-,-,-,-,-,-,-,-,...,2.466667,2.466667,2.466667,2.4,2.466667,2.466667,2.466667,2.466667,2.5,"Warragul, Bona Vista, Lillico"
143,71,$150,73,$150,78,$158,77,$150,76,$150,...,2.396667,2.386667,2.376667,2.4,2.356667,2.346667,2.336667,2.326667,2.3,"Dennington, Warrnambool"
144,62,$150,64,$140,57,$140,58,$140,57,$150,...,2.400000,2.400000,2.400000,2.4,2.400000,2.400000,2.400000,2.400000,2.4,"Wodonga, West Wodonga, Wodonga Plaza"

### Getting 2013-2021

In [84]:
df_1bed_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_1_bed_flat_monetary_2011-2021.csv')
bed_2_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_2_flat_monetary_2011-2021.csv')
bed_2_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_2_house_monetary_2011-2021.csv')
bed_3_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_3_flat_monetary_2011-2021.csv')
bed_3_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_3_house_monetary_2011-2021.csv')
bed_4_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_4_house_monetary_2011-2021.csv')

In [85]:
df_1bed_flat

,Count_Mar2011,Median_Mar2011,Count_Jun2011,Median_Jun2011,Count_Sep2011,Median_Sep2011,Count_Dec2011,Median_Dec2011,Count_Mar2012,Median_Mar2012,...,Average_household_size_2013,Average_household_size_2014,Average_household_size_2015,Average_household_size_2016,Average_household_size_2017,Average_household_size_2018,Average_household_size_2019,Average_household_size_2020,Average_household_size_2021,Suburb
0,298,$315,295,$320,277,$320,292,$325,296,$328,...,1.796667,1.786667,1.776667,1.8,1.756667,1.746667,1.736667,1.726667,1.7,"St Kilda, St Kilda South, St Kilda West"
1,174,$293,178,$298,180,$300,179,$300,178,$308,...,2.096667,2.086667,2.076667,2.1,2.056667,2.046667,2.036667,2.026667,2.0,"Armadale North, Armadale"
2,60,$293,52,$298,51,$300,47,$305,47,$310,...,1.896667,1.886667,1.876667,1.9,1.856667,1.846667,1.836667,1.826667,1.8,"Carlton South, Carlton"
3,"1,963",$311,"1,981",$311,"2,058",$311,"2,113",$313,"2,312",$315,...,2.260000,2.240000,2.220000,2.2,2.180000,2.160000,2.140000,2.120000,2.1,"Melbourne University, Parkville"
4,"3,099",$370,"3,083",$370,"3,033",$375,"3,075",$380,"3,184",$380,...,1.796667,1.786667,1.776667,1.8,1.756667,1.746667,1.736667,1.726667,1.7,"St Kilda, St Kilda South, St Kilda West"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,19,$220,17,$220,17,$220,17,$220,19,$230,...,2.700000,2.700000,2.700000,2.7,2.700000,2.700000,2.700000,2.700000,2.7,"Torquay, Jan Juc, Bells Beach, Bellbrae"
141,79,$130,77,$130,80,$133,74,$135,72,$140,...,2.463333,2.453333,2.443333,2.4,2.423333,2.413333,2.403333,2.393333,2.4,"Callignee, Willung South, Traralgon South, Car..."
142,-,-,-,-,-,-,-,-,-,-,...,2.466667,2.466667,2.466667,2.4,2.466667,2.466667,2.466667,2.466667,2.5,"Warragul, Bona Vista, Lillico"
143,71,$150,73,$150,78,$158,77,$150,76,$150,...,2.396667,2.386667,2.376667,2.4,2.356667,2.346667,2.336667,2.326667,2.3,"Dennington, Warrnambool"
144,62,$150,64,$140,57,$140,58,$140,57,$150,...,2.400000,2.400000,2.400000,2.4,2.400000,2.400000,2.400000,2.400000,2.4,"Wodonga, West Wodonga, Wodonga Plaza"

In [86]:
def get_to_delete(df, yrs_to_delete):
    to_delete = []
    for col in df:
        for yr in yrs_to_delete:
            if (yr in col or yr in col):
                to_delete.append(col)
    return to_delete

In [87]:
to_delete = get_to_delete(df_1bed_flat, ['2011','2012'])
to_delete

['Count_Mar2011',
 'Median_Mar2011',
 'Count_Jun2011',
 'Median_Jun2011',
 'Count_Sep2011',
 'Median_Sep2011',
 'Count_Dec2011',
 'Median_Dec2011',
 'Count_Mar2012',
 'Median_Mar2012',
 'Count_Jun2012',
 'Median_Jun2012',
 'Count_Sep2012',
 'Median_Sep2012',
 'Count_Dec2012',
 'Median_Dec2012',
 'Median_age_persons_2011',
 'Median_age_persons_2012',
 'Median_mortgage_repay_monthly_2011',
 'Median_mortgage_repay_monthly_2012',
 'Median_tot_prsnl_inc_weekly_2011',
 'Median_tot_prsnl_inc_weekly_2012',
 'Median_rent_weekly_2011',
 'Median_rent_weekly_2012',
 'Median_tot_fam_inc_weekly_2011',
 'Median_tot_fam_inc_weekly_2012',
 'Average_num_psns_per_bedroom_2011',
 'Average_num_psns_per_bedroom_2012',
 'Average_household_size_2011',
 'Average_household_size_2012']

In [88]:
df_1bed_flat.drop(to_delete, axis=1, inplace = True)
bed_2_flat.drop(to_delete, axis=1, inplace = True)
bed_2_house.drop(to_delete, axis=1, inplace = True)
bed_3_flat.drop(to_delete, axis=1, inplace = True)
bed_3_house.drop(to_delete, axis=1, inplace = True)
bed_4_house.drop(to_delete, axis=1, inplace = True)

df_1bed_flat.to_csv('../data/curated/Rental_Price_historical/joined_1_bed_flat_monetary_2013-2021.csv', index = False)
bed_2_flat.to_csv('../data/curated/Rental_Price_historical/joined_bed_2_flat_monetary_2013-2021.csv', index=False)
bed_2_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_2_house_monetary_2013-2021.csv', index=False)
bed_3_flat.to_csv('../data/curated/Rental_Price_historical/joined_bed_3_flat_monetary_2013-2021.csv', index=False)
bed_3_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_3_house_monetary_2013-2021.csv', index=False)
bed_4_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_4_house_monetary_2013-2021.csv', index=False)

In [89]:
df_1bed_flat

,Count_Mar2013,Median_Mar2013,Count_Jun2013,Median_Jun2013,Count_Sep2013,Median_Sep2013,Count_Dec2013,Median_Dec2013,Count_Mar2014,Median_Mar2014,...,Average_household_size_2013,Average_household_size_2014,Average_household_size_2015,Average_household_size_2016,Average_household_size_2017,Average_household_size_2018,Average_household_size_2019,Average_household_size_2020,Average_household_size_2021,Suburb
0,298,$330,300,$330,320,$320,325,$320,328,$320,...,1.796667,1.786667,1.776667,1.8,1.756667,1.746667,1.736667,1.726667,1.7,"St Kilda, St Kilda South, St Kilda West"
1,180,$305,178,$300,171,$300,173,$300,168,$300,...,2.096667,2.086667,2.076667,2.1,2.056667,2.046667,2.036667,2.026667,2.0,"Armadale North, Armadale"
2,70,$310,70,$310,60,$310,58,$310,56,$313,...,1.896667,1.886667,1.876667,1.9,1.856667,1.846667,1.836667,1.826667,1.8,"Carlton South, Carlton"
3,"2,280",$320,"2,293",$320,"2,277",$325,"2,231",$325,"2,367",$329,...,2.260000,2.240000,2.220000,2.2,2.180000,2.160000,2.140000,2.120000,2.1,"Melbourne University, Parkville"
4,"3,322",$380,"3,522",$380,"3,700",$380,"3,904",$380,"4,045",$375,...,1.796667,1.786667,1.776667,1.8,1.756667,1.746667,1.736667,1.726667,1.7,"St Kilda, St Kilda South, St Kilda West"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,14,$250,15,$250,18,$240,17,$230,15,$250,...,2.700000,2.700000,2.700000,2.7,2.700000,2.700000,2.700000,2.700000,2.7,"Torquay, Jan Juc, Bells Beach, Bellbrae"
141,72,$140,84,$140,78,$140,77,$140,82,$148,...,2.463333,2.453333,2.443333,2.4,2.423333,2.413333,2.403333,2.393333,2.4,"Callignee, Willung South, Traralgon South, Car..."
142,-,-,-,-,-,-,-,-,-,-,...,2.466667,2.466667,2.466667,2.4,2.466667,2.466667,2.466667,2.466667,2.5,"Warragul, Bona Vista, Lillico"
143,80,$160,87,$160,91,$160,83,$170,87,$175,...,2.396667,2.386667,2.376667,2.4,2.356667,2.346667,2.336667,2.326667,2.3,"Dennington, Warrnambool"
144,61,$155,62,$160,59,$160,59,$165,51,$165,...,2.400000,2.400000,2.400000,2.4,2.400000,2.400000,2.400000,2.400000,2.4,"Wodonga, West Wodonga, Wodonga Plaza"

### Getting 2013-2019

In [93]:
df_1bed_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_1_bed_flat_monetary_2011-2021.csv')
bed_2_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_2_flat_monetary_2011-2021.csv')
bed_2_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_2_house_monetary_2011-2021.csv')
bed_3_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_3_flat_monetary_2011-2021.csv')
bed_3_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_3_house_monetary_2011-2021.csv')
bed_4_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_4_house_monetary_2011-2021.csv')

In [94]:
to_delete = get_to_delete(df_1bed_flat, ['2011','2012','2020','2021'])
to_delete

['Count_Mar2011',
 'Median_Mar2011',
 'Count_Jun2011',
 'Median_Jun2011',
 'Count_Sep2011',
 'Median_Sep2011',
 'Count_Dec2011',
 'Median_Dec2011',
 'Count_Mar2012',
 'Median_Mar2012',
 'Count_Jun2012',
 'Median_Jun2012',
 'Count_Sep2012',
 'Median_Sep2012',
 'Count_Dec2012',
 'Median_Dec2012',
 'Count_Mar2020',
 'Median_Mar2020',
 'Count_Jun2020',
 'Median_Jun2020',
 'Count_Sep2020',
 'Median_Sep2020',
 'Count_Dec2020',
 'Median_Dec2020',
 'Count_Mar2021',
 'Median_Mar2021',
 'Median_age_persons_2011',
 'Median_age_persons_2012',
 'Median_age_persons_2020',
 'Median_age_persons_2021',
 'Median_mortgage_repay_monthly_2011',
 'Median_mortgage_repay_monthly_2012',
 'Median_mortgage_repay_monthly_2020',
 'Median_mortgage_repay_monthly_2021',
 'Median_tot_prsnl_inc_weekly_2011',
 'Median_tot_prsnl_inc_weekly_2012',
 'Median_tot_prsnl_inc_weekly_2020',
 'Median_tot_prsnl_inc_weekly_2021',
 'Median_rent_weekly_2011',
 'Median_rent_weekly_2012',
 'Median_rent_weekly_2020',
 'Median_rent_weekly_2021',
 'Median_tot_fam_inc_weekly_2011',
 'Median_tot_fam_inc_weekly_2012',
 'Median_tot_fam_inc_weekly_2020',
 'Median_tot_fam_inc_weekly_2021',
 'Average_num_psns_per_bedroom_2011',
 'Average_num_psns_per_bedroom_2012',
 'Average_num_psns_per_bedroom_2020',
 'Average_num_psns_per_bedroom_2021',
 'Average_household_size_2011',
 'Average_household_size_2012',
 'Average_household_size_2020',
 'Average_household_size_2021']

In [95]:
df_1bed_flat.drop(to_delete, axis=1, inplace = True)
bed_2_flat.drop(to_delete, axis=1, inplace = True)
bed_2_house.drop(to_delete, axis=1, inplace = True)
bed_3_flat.drop(to_delete, axis=1, inplace = True)
bed_3_house.drop(to_delete, axis=1, inplace = True)
bed_4_house.drop(to_delete, axis=1, inplace = True)

df_1bed_flat.to_csv('../data/curated/Rental_Price_historical/joined_1_bed_flat_monetary_2013-2019.csv', index = False)
bed_2_flat.to_csv('../data/curated/Rental_Price_historical/joined_bed_2_flat_monetary_2013-2019.csv', index=False)
bed_2_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_2_house_monetary_2013-2019.csv', index=False)
bed_3_flat.to_csv('../data/curated/Rental_Price_historical/joined_bed_3_flat_monetary_2013-2019.csv', index=False)
bed_3_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_3_house_monetary_2013-2019.csv', index=False)
bed_4_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_4_house_monetary_2013-2019.csv', index=False)

In [32]:
df_1bed_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_1_bed_flat_monetary_2013-2021.csv')
bed_2_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_2_flat_monetary_2013-2021.csv')
bed_2_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_2_house_monetary_2013-2021.csv')
bed_3_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_3_flat_monetary_2013-2021.csv')
bed_3_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_3_house_monetary_2013-2021.csv')
bed_4_house = pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_4_house_monetary_2013-2021.csv')
bed_4_house

,Suburb,Count_Mar2013,Median_Mar2013,Count_Jun2013,Median_Jun2013,Count_Sep2013,Median_Sep2013,Count_Dec2013,Median_Dec2013,Count_Mar2014,...,Victimisation_Rate_2021,Offence_Count_2013,Offence_Count_2014,Offence_Count_2015,Offence_Count_2016,Offence_Count_2017,Offence_Count_2018,Offence_Count_2019,Offence_Count_2020,Offence_Count_2021
0,Albert Park-Middle Park-West St Kilda,35,"$1,100",40,"$1,125",32,"$1,150",38,"$1,125",41,...,"5,265.30","11,054","11,364","11,915","12,733","13,427","12,549","12,778","12,965","13,408"
1,Armadale,15,"$1,175",14,"$1,138",12,"$1,200",13,"$1,300",11,...,"4,398.30","8,603","9,444","9,958","10,204","11,484","10,191","10,501","12,090","11,635"
2,Carlton North,11,$900,14,$888,13,$880,12,$850,17,...,"5,745.70","10,487","11,889","12,836","13,364","13,759","13,418","13,451","14,028","13,733"
3,Carlton-Parkville,37,$800,28,$819,34,$820,28,$850,31,...,"6,229.20","33,752","32,575","33,707","35,452","37,315","36,659","35,626","36,359","35,712"
4,CBD-St Kilda Rd,-,-,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Torquay,152,$450,152,$450,150,$450,130,$460,145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Traralgon,117,$350,133,$350,147,$350,155,$350,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Warragul,99,$335,102,$330,106,$340,102,$340,108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,Warrnambool,183,$380,183,$390,185,$395,179,$390,181,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,Wodonga,262,$350,259,$355,261,$360,281,$360,277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_1bed_flat.drop(to_delete, axis=1, inplace = True)
bed_2_flat.drop(to_delete, axis=1, inplace = True)
bed_2_house.drop(to_delete, axis=1, inplace = True)
bed_3_flat.drop(to_delete, axis=1, inplace = True)
bed_3_house.drop(to_delete, axis=1, inplace = True)
bed_4_house.drop(to_delete, axis=1, inplace = True)

df_1bed_flat.to_csv('../data/curated/Rental_Price_historical/joined_1_bed_flat_monetary_2013-2019.csv', index = False)
bed_2_flat.to_csv('../data/curated/Rental_Price_historical/joined_bed_2_flat_monetary_2013-2019.csv', index=False)
bed_2_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_2_house_monetary_2013-2019.csv', index=False)
bed_3_flat.to_csv('../data/curated/Rental_Price_historical/joined_bed_3_flat_monetary_2013-2019.csv', index=False)
bed_3_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_3_house_monetary_2013-2019.csv', index=False)
bed_4_house.to_csv('../data/curated/Rental_Price_historical/joined_bed_4_house_monetary_2013-2019.csv', index=False)

In [6]:
df_1bed_flat

,Suburb,Count_Mar2013,Median_Mar2013,Count_Jun2013,Median_Jun2013,Count_Sep2013,Median_Sep2013,Count_Dec2013,Median_Dec2013,Count_Mar2014,...,Victimisation_Rate_2017,Victimisation_Rate_2018,Victimisation_Rate_2019,Offence_Count_2013,Offence_Count_2014,Offence_Count_2015,Offence_Count_2016,Offence_Count_2017,Offence_Count_2018,Offence_Count_2019
0,Albert Park-Middle Park-West St Kilda,298,$330,300,$330,320,$320,325,$320,328,...,"6,388.30","5,620.40","5,442.80","11,054","11,364","11,915","12,733","13,427","12,549","12,778"
1,Armadale,180,$305,178,$300,171,$300,173,$300,168,...,"4,981.90","4,054.00","4,181.70","8,603","9,444","9,958","10,204","11,484","10,191","10,501"
2,Carlton North,70,$310,70,$310,60,$310,58,$310,56,...,"7,238.00","6,507.20","6,966.40","10,487","11,889","12,836","13,364","13,759","13,418","13,451"
3,Carlton-Parkville,"2,280",$320,"2,293",$320,"2,277",$325,"2,231",$325,"2,367",...,"8,583.00","7,697.40","7,129.80","33,752","32,575","33,707","35,452","37,315","36,659","35,626"
4,CBD-St Kilda Rd,"3,322",$380,"3,522",$380,"3,700",$380,"3,904",$380,"4,045",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Torquay,14,$250,15,$250,18,$240,17,$230,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Traralgon,72,$140,84,$140,78,$140,77,$140,82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Warragul,-,-,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,Warrnambool,80,$160,87,$160,91,$160,83,$170,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,Wodonga,61,$155,62,$160,59,$160,59,$165,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
bed_2_house

,Suburb,Count_Mar2011,Median_Mar2011,Count_Jun2011,Median_Jun2011,Count_Sep2011,Median_Sep2011,Count_Dec2011,Median_Dec2011,Count_Mar2012,...,Average_household_size_2012,Average_household_size_2013,Average_household_size_2014,Average_household_size_2015,Average_household_size_2016,Average_household_size_2017,Average_household_size_2018,Average_household_size_2019,Suburb.1,Postcode.1
0,Albert Park-Middle Park-West St Kilda,90,$536,93,$540,93,$540,101,$550,116,...,3.013333,2.893333,2.773333,2.653333,3.0,2.413333,2.293333,2.173333,Scoresby,3182
1,Armadale,36,$495,40,$500,38,$535,32,$533,28,...,2.780000,2.710000,2.640000,2.570000,2.8,2.430000,2.360000,2.290000,Lilydale,3143
2,Carlton North,93,$480,92,$460,79,$475,68,$460,61,...,1.420000,1.390000,1.360000,1.330000,0.0,1.270000,1.240000,1.210000,"Hotham Hill, North Melbourne",3053
3,Carlton-Parkville,48,$458,47,$460,49,$460,47,$470,46,...,2.846667,2.776667,2.706667,2.636667,2.8,2.496667,2.426667,2.356667,"Attwood, Westmeadows",3052
4,CBD-St Kilda Rd,-,-,-,-,-,-,-,-,-,...,3.013333,2.893333,2.773333,2.653333,3.0,2.413333,2.293333,2.173333,Scoresby,3182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Torquay,37,$300,35,$300,34,$303,31,$310,33,...,2.520000,2.540000,2.560000,2.580000,2.6,2.620000,2.640000,2.660000,Ocean Grove,3228
140,Traralgon,113,$225,115,$230,109,$240,102,$245,91,...,2.233333,2.233333,2.233333,2.233333,1.9,2.233333,2.233333,2.233333,Nicholson,3844
141,Warragul,38,$220,29,$220,34,$236,38,$240,38,...,2.526667,2.536667,2.546667,2.556667,2.8,2.576667,2.586667,2.596667,"Valencia Creek, Briagolong, Coongulla, Maffra,...",3820
142,Warrnambool,104,$260,100,$260,105,$260,102,$270,92,...,2.913333,2.843333,2.773333,2.703333,2.6,2.563333,2.493333,2.423333,"Bushfield, Grassmere, Winslow, Woodford",3280
143,Wodonga,59,$220,65,$220,65,$220,55,$220,56,...,2.400000,2.400000,2.400000,2.400000,2.4,2.400000,2.400000,2.400000,Bonnie Doon,3690

In [5]:
df_1bed_flat=pd.read_csv('../data/curated/Rental_Price_historical/joined_1_bed_flat_monetary_2011-2021.csv')
bed_2_flat=pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_2_flat_monetary_2011-2021.csv')
bed_2_house=pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_2_house_monetary_2011-2021.csv')
bed_3_flat=pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_3_flat_monetary_2011-2021.csv')
bed_3_house=pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_3_house_monetary_2011-2021.csv')
bed_4_house=pd.read_csv('../data/curated/Rental_Price_historical/joined_bed_4_house_monetary_2011-2021.csv')

In [95]:
bed_2_flat

,Suburb,Count_Mar2011,Median_Mar2011,Count_Jun2011,Median_Jun2011,Count_Sep2011,Median_Sep2011,Count_Dec2011,Median_Dec2011,Count_Mar2012,...,Average_household_size_2014,Average_household_size_2015,Average_household_size_2016,Average_household_size_2017,Average_household_size_2018,Average_household_size_2019,Average_household_size_2020,Average_household_size_2021,Suburb.1,Postcode.1
0,Albert Park-Middle Park-West St Kilda,201,$430,197,$420,191,$430,211,$425,235,...,2.773333,2.653333,3.0,2.413333,2.293333,2.173333,2.053333,1.7,Scoresby,3182
1,Armadale,286,$380,290,$383,277,$390,269,$395,265,...,2.640000,2.570000,2.8,2.430000,2.360000,2.290000,2.220000,2.0,Lilydale,3143
2,Carlton North,106,$400,114,$400,114,$400,106,$415,96,...,1.360000,1.330000,0.0,1.270000,1.240000,1.210000,1.180000,1.8,"Hotham Hill, North Melbourne",3053
3,Carlton-Parkville,703,$445,742,$440,774,$445,787,$446,859,...,2.706667,2.636667,2.8,2.496667,2.426667,2.356667,2.286667,2.1,"Attwood, Westmeadows",3052
4,CBD-St Kilda Rd,"2,397",$500,"2,371",$505,"2,350",$516,"2,351",$520,"2,434",...,2.773333,2.653333,3.0,2.413333,2.293333,2.173333,2.053333,1.7,Scoresby,3182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Torquay,65,$250,62,$260,66,$270,64,$280,69,...,2.560000,2.580000,2.6,2.620000,2.640000,2.660000,2.680000,2.7,Ocean Grove,3228
140,Traralgon,134,$190,153,$190,153,$190,167,$190,173,...,2.233333,2.233333,1.9,2.233333,2.233333,2.233333,2.233333,2.4,Nicholson,3844
141,Warragul,77,$200,77,$205,89,$210,89,$210,91,...,2.546667,2.556667,2.8,2.576667,2.586667,2.596667,2.606667,2.5,"Valencia Creek, Briagolong, Coongulla, Maffra,...",3820
142,Warrnambool,331,$230,341,$230,366,$230,367,$235,401,...,2.773333,2.703333,2.6,2.563333,2.493333,2.423333,2.353333,2.3,"Bushfield, Grassmere, Winslow, Woodford",3280
143,Wodonga,375,$195,380,$195,389,$195,411,$195,405,...,2.400000,2.400000,2.4,2.400000,2.400000,2.400000,2.400000,2.4,Bonnie Doon,3690

In [12]:
df_1bed_flat = pd.read_csv('../data/curated/Rental_Price_historical/joined_1_bed_flat_monetary_2011-2021.csv')
df_1bed_flat

,Suburb,Count_Mar2011,Median_Mar2011,Count_Jun2011,Median_Jun2011,Count_Sep2011,Median_Sep2011,Count_Dec2011,Median_Dec2011,Count_Mar2012,...,Average_household_size_2014,Average_household_size_2015,Average_household_size_2016,Average_household_size_2017,Average_household_size_2018,Average_household_size_2019,Average_household_size_2020,Average_household_size_2021,Suburb.1,Postcode.1
0,Albert Park-Middle Park-West St Kilda,298,$315,295,$320,277,$320,292,$325,296,...,2.773333,2.653333,3.0,2.413333,2.293333,2.173333,2.053333,1.7,Scoresby,3182
1,Armadale,174,$293,178,$298,180,$300,179,$300,178,...,2.640000,2.570000,2.8,2.430000,2.360000,2.290000,2.220000,2.0,Lilydale,3143
2,Carlton North,60,$293,52,$298,51,$300,47,$305,47,...,1.360000,1.330000,0.0,1.270000,1.240000,1.210000,1.180000,1.8,"Hotham Hill, North Melbourne",3053
3,Carlton-Parkville,"1,963",$311,"1,981",$311,"2,058",$311,"2,113",$313,"2,312",...,2.706667,2.636667,2.8,2.496667,2.426667,2.356667,2.286667,2.1,"Attwood, Westmeadows",3052
4,CBD-St Kilda Rd,"3,099",$370,"3,083",$370,"3,033",$375,"3,075",$380,"3,184",...,2.773333,2.653333,3.0,2.413333,2.293333,2.173333,2.053333,1.7,Scoresby,3182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Torquay,19,$220,17,$220,17,$220,17,$220,19,...,2.560000,2.580000,2.6,2.620000,2.640000,2.660000,2.680000,2.7,Ocean Grove,3228
140,Traralgon,79,$130,77,$130,80,$133,74,$135,72,...,2.233333,2.233333,1.9,2.233333,2.233333,2.233333,2.233333,2.4,Nicholson,3844
141,Warragul,-,-,-,-,-,-,-,-,-,...,2.546667,2.556667,2.8,2.576667,2.586667,2.596667,2.606667,2.5,"Valencia Creek, Briagolong, Coongulla, Maffra,...",3820
142,Warrnambool,71,$150,73,$150,78,$158,77,$150,76,...,2.773333,2.703333,2.6,2.563333,2.493333,2.423333,2.353333,2.3,"Bushfield, Grassmere, Winslow, Woodford",3280
143,Wodonga,62,$150,64,$140,57,$140,58,$140,57,...,2.400000,2.400000,2.4,2.400000,2.400000,2.400000,2.400000,2.4,Bonnie Doon,3690